<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net48" />
  <package id="RocketModFix.Rocket.API" version="4.17.0" targetFramework="net48" />
  <package id="RocketModFix.Rocket.Core" version="4.17.0" targetFramework="net48" />
  <package id="RocketModFix.Rocket.Unturned" version="4.17.0" targetFramework="net48" />
  <package id="RocketModFix.Unturned.Redist" version="3.24.1" targetFramework="net48" />
</packages>